*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.btn{
    display: flex;
    justify-content: center;
    margin: 20vh auto;
    width: 500px;
    height: 150px;
    font-size: 100px;
    color: white;
    border: 1px solid red;
    border-radius: 50px;
    background-color: red;
}
#btn1{
    display: block;
    justify-content: start;
    margin: 20vh auto;
    width: 500px;
    height: 150px;
    font-size: 100px;
    color: white;
    border: 1px solid blue;
    border-radius: 50px;
    background-color: blue;
}
